  <footer class="footer my-auto">
    <h3 class="text-center">ORG NR 912 418 553</h3>
    <h3 class="text-center">&copy; KREATIVET</h3>
  </footer>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="js/main.js"></script>
</body>
</html>