<!DOCTYPE html>
<html>
<head>
	<title>kreativet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" type="image/x-icon" href="images/icon.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/brands.css" integrity="sha384-Pln/erVatVEIIVh7sfyudOXs5oajCSHg7l5e2Me02e3TklmDuKEhQ8resTIwyI+w" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/fontawesome.css" integrity="sha384-rnr8fdrJ6oj4zli02To2U/e6t1qG8dvJ8yNZZPsKHcU7wFK3MGilejY5R/cUc5kf" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light mainNavbar">
		<a href="/" class="navbar-brand nav-link d-lg-none d-xl-none"><img src="images/logo.png" class="logoMobil"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav mx-auto">
			  <li class="nav-item my-auto">
			  	<a href="/film" class="nav-link hvr-underline">FILMPRODUKSJON</a>
			  </li>
			  <li class="nav-item my-auto">
			  	<a href="/grafikk" class="nav-link hvr-underline">GRAFISK</a>
			  </li>
				<li class="nav-item d-none d-lg-inline">
					<a href="/" class="nav-link"><img class="logo" src="images/logo.png"></a>
				</li>
			  <li class="nav-item my-auto">
			  	<a href="/kommunikasjon" class="nav-link hvr-underline">KOMMUNIKASJON</a>
				</li>
				<li class="nav-item my-auto">
			  	<a href="/web" class="nav-link hvr-underline">WEBDESIGN</a>
	  		</li>	
			</ul>
		</div>
	</nav>