<% include partials/header %>
<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/film.css">

  <div class="container-fluid hoved animated bounceInDown">
    <div class="row">
      <div class="col-sm-12 col-lg-2 offset-lg-3 my-auto" id="contact">
        <h4>Jon Vu-Yen Nguyen</h4>
        <h4><a href="mailto:jon@kreativet.no">jon@kreativet.no</a></h4>
        <h4>(+47) 482 17 753</h4>
        <div class="container social">
          <a target="_blank" href="https://www.facebook.com/jonvn"><i class="fab fa-2x fa-facebook-square"></i></a>
          <a target="_blank" href="https://www.instagram.com/yenshi/"><i class="fab fa-2x fa-instagram"></i></a>
          <a target="_blank" href="https://www.flickr.com/photos/123323775@N05/"><i class="fab fa-2x fa-flickr"></i></a>
        </div>
      </div>
      <div class="col-sm-12 col-lg-2 my-auto" id="photo">
        <img class="img-fluid img-thumbnail" src="/images/profile/jon.jpg">
      </div>
      <div class="col-sm-12 col-lg-2 my-auto" id="short">
        <h4>Filmskaper:</h4>
        <h4>- Animasjon</h4>
        <h4>- Dokumentar</h4>
        <h4>- Musikkvideo</h4>
        <h4>- Oppdragsfilm</h4>
      </div>
      <div class="col-sm-12 col-lg-6 offset-lg-3 my-auto" id="long">
      <h5>
        Hei på deg! 
        <br>
        Jeg heter Jon og holder til i Trondheim. Visuell historiefortelling er både drømmejobben og min sterkeste side, og jeg har siden 2014 frilanset som filmskaper. 
        I tillegg til Kreativet, frilanser jeg som producer og fotograf i flerkamera- og konsertproduksjon, jobber for Pstereo som kommunikasjonsansvarlig, og for Bakkefestivalen som festivalsjef og innholdsprodusent. 
        Deler av portføljen kan sjekkes ut lenger ned, og ikke nøl med å ta kontakt om du lurer på noe!
      </h5>
      </div>
    </div>



  </div>
  <div class="container-fluid" id="gallery">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="js-video widescreen">
          <iframe src="https://www.youtube.com/embed/3Sgh-QSkD-Q?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p><strong>Spidergawd - LouCille</strong><br>(live musikkvideo, 2018)</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="js-video widescreen">
          <iframe src="https://www.youtube.com/embed/TEGKpzlrFtM?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p><strong>NTNU - Marin teknikk</strong><br>(infofilm, 2018)</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="js-video widescreen">
          <iframe src="https://www.youtube.com/embed/iWF8-D5DPNo?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p><strong>March - Justin Vernon, by Martin H.</strong><br>(musikkvideo, 2016)</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="js-video widescreen">
          <iframe src="https://www.youtube.com/embed/X7wKffzZSCY?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p><strong>One moment. And the next</strong><br>(kortfilm, 2014)</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="js-video cinema">
          <iframe src="https://www.youtube.com/embed/muJ4ia17KMM?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p class="flex-end"><strong>E.A.T.S.</strong><br>(kortfilm, 2014)</p>
      </div>  
      <div class="col-12 col-sm-6 col-md-4">
        <div class="js-video widescreen vimeo">
          <iframe src="https://player.vimeo.com/video/120642822?color=ff9933" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p><strong>Innovasjon Norge - Eksporthåndboken</strong><br>(animasjonsfilm, 2014)</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="js-video widescreen vimeo">
          <iframe src="https://player.vimeo.com/video/114848371/?color=ff9933" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p><strong>Innovasjon Norge - IFO OFU</strong><br>(animasjonsfilm, 2014)</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="js-video widescreen">
          <iframe src="https://www.youtube.com/embed/OJAiuPnfMHU?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <p><strong>Blomst - Slå meg opp, slå meg ned</strong><br>(musikkvideo, 2013)</p>
      </div>
    </div>
  </div> 
  

<% include partials/footer %>