<% include partials/header %>
<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/index.css">

<div class="container-fluid hoved">
	<div class="container opening">
		<h1>Vi er et frilanskollektiv som kan hjelpe deg med 
			<span 
				class="txt-rotate" 
				data-period="1500" 
				data-rotate='["grafisk design.", "filmproduksjon.", "webdesign.", "kommunikasjon."]'></span>
		</h1>
		<h2>-kreativet</h2>
	</div>
</div>

<script src="js/txtrotate.js" crossorigin="anonymous"></script>

<% include partials/footer %>