<% include partials/header %>
<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/grafikk.css">

  <div class="container-fluid hoved animated bounceInDown">
    <div class="row">
      <div class="col-sm-12 col-lg-2 offset-lg-3 my-auto" id="contact">
        <h4>Emma Mastad</h4>
        <h4><a href="mailto:emma@kreativet.no">emma@kreativet.no</a></h4>
        <h4>(+47) 901 95 579</h4>
      </div>
      <div class="col-sm-12 col-lg-2 my-auto" id="photo">
        <img class="img-fluid img-thumbnail" src="/images/profile/emma.jpg">
      </div>
      <div class="col-sm-12 col-lg-2 my-auto" id="short">
        <h4>Emma tilbyr:</h4>
        <h4>- Logodesign</h4>
        <h4>- Markedsføringsmateriell</h4>
        <h4>- Magasiner og layout</h4>
        <h4>- Invitasjoner og takkekort</h4>
        <h4>- Webannonser</h4>
        <h4>m.m.</h4>
      </div>
      <div class="col-sm-12 col-lg-6 offset-lg-3 my-auto" id="long">
        <h5>Allsidig mediegrafiker med fagbrev og flere års bakgrunn fra trykkeri og bilderedigerer. Det siste året har jeg også gjort grafisk design for flere musikkfestivaler og konserter i Trondheim.</h5>
      </div>
    </div>
  </div>
  
  <div class="container-fluid" id="gallery">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="row">
          <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" id="wavesrolling" class="col-8">
              <a href="/images/portfolio/gfx/Asset_13x.png" itemprop="contentUrl" data-size="763x612" data-index="0">
                <img src="/images/portfolio/gfx/Asset_13x.png" class="img-fluid" itemprop="thumbnail" alt="Beach">
              </a>
              <figcaption itemprop="caption description">Logokonsept for Waves Rolling, en nyoppstartet musikkfestival i Göteborg.</figcaption>
            </figure>
            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="wavesrolling col-4">
                <a href="/images/portfolio/gfx/Asset_23x.png" itemprop="contentUrl" data-size="825x612" data-index="1">
                    <img src="/images/portfolio/gfx/tb_Asset_23x.png" class="img-fluid" itemprop="thumbnail" alt="">
                </a>
              <figcaption itemprop="caption description">Logokonsept for Waves Rolling, en nyoppstartet musikkfestival i Göteborg.</figcaption>
            </figure>
          </div>
        </div>
        <p>Logokonsept for Waves Rolling, en nyoppstartet musikkfestival i Göteborg.</p>
      </div>

      <div class="col-12 col-sm-6 col-md-4">
        <div class="row">
          <div class="col-8">
            <img class="img-fluid" src="/images/portfolio/gfx/12.png">
            <p>Duellkort til bruk i sosiale medier for Fotballfeber Trondheim.</p>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-sm-6 col-md-4">
        <div class="row">
          <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" id="shisha" class="col-8">
              <a href="/images/portfolio/gfx/shisha_1.png" itemprop="contentUrl" data-size="801x748" data-index="0">
                <img src="/images/portfolio/gfx/shisha_1.png" class="img-fluid" itemprop="thumbnail" alt="Beach">
              </a>
              <figcaption itemprop="caption description">Logokonsept for Trondheim Shisha Club, opprinnelig ment til bruk på Ladehammerfestivalen.</figcaption>
            </figure>
            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="shisha col-4">
                <a href="/images/portfolio/gfx/shisha_2.png" itemprop="contentUrl" data-size="801x971" data-index="1">
                    <img src="/images/portfolio/gfx/tb_shisha_2.png" class="img-fluid" itemprop="thumbnail" alt="">
                </a>
              <figcaption itemprop="caption description">Logokonsept for Trondheim Shisha Club, opprinnelig ment til bruk på Ladehammerfestivalen.</figcaption>
            </figure>
          </div>
        </div>
        <p>Logokonsept for Trondheim Shisha Club, opprinnelig ment til bruk på Ladehammerfestivalen.</p>
      </div>

    </div> 
      <div class="col-12 col-sm-6 col-md-4">
        <div class="row">
          <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" id="ladehammer" class="col-8">
              <a href="/images/portfolio/gfx/ladehammer_plakat_1.png" itemprop="contentUrl" data-size="1237x1771" data-index="0">
                <img src="/images/portfolio/gfx/ladehammer_plakat_1.png" class="img-fluid" itemprop="thumbnail" alt="Beach">
              </a>
              <figcaption itemprop="caption description">Diverse materiell for Ladehammerfestivalen 2018. Illustrasjoner av Zarina Saidova.</figcaption>
            </figure>
            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="ladehammer col-4">
                <a href="/images/portfolio/gfx/artistslipp.png" itemprop="contentUrl" data-size="800x800" data-index="1">
                    <img src="/images/portfolio/gfx/tb_artistslipp.png" class="img-fluid" itemprop="thumbnail" alt="">
                </a>
              <figcaption itemprop="caption description">Diverse materiell for Ladehammerfestivalen 2018. Illustrasjoner av Zarina Saidova.</figcaption>
            </figure>
            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="ladehammer col-4">
                <a href="/images/portfolio/gfx/facebookbanner-01.png" itemprop="contentUrl" data-size="1640x859" data-index="2">
                    <img src="images/portfolio/gfx/tb_facebookbanner-01.png" class="img-fluid" itemprop="thumbnail" alt="">
                </a>
              <figcaption itemprop="caption description">Diverse materiell for Ladehammerfestivalen 2018. Illustrasjoner av Zarina Saidova.</figcaption>
            </figure>
            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="ladehammer col-4">
                <a href="/images/portfolio/gfx/ladehammer_annonse.png" itemprop="contentUrl" data-size="595x420" data-index="3">
                    <img src="/images/portfolio/gfx/tb_ladehammer_annonse.png" class="img-fluid" itemprop="thumbnail" alt="">
                </a>
              <figcaption itemprop="caption description">Diverse materiell for Ladehammerfestivalen 2018. Illustrasjoner av Zarina Saidova.</figcaption>
            </figure>
          </div>
        </div>
        <p>Diverse materiell for Ladehammerfestivalen 2018. Illustrasjoner av Zarina Saidova.</p>
      </div>
  </div>
  
<!-- Photoswipe code --> 

  <!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

          </div>

        </div>

</div>
<!-- End Photoswipe code -->
      

<% include partials/footer %>