body {
  color: black;
  background: rgb(235,235,235);
}

.hoved {
  background: rgb(220,220,220);
  text-align: center;
}

.hoved > .row {
  padding: 50px 0;
}

/*#contact {*/
/*  text-align: right;*/
/*}*/

#photo img {
  border-radius: 20rem;
}

#short {
  text-align: center;
}

#long {
  text-align: left;
}

@media (min-width: 1024px) {
  #short {
    text-align: left;
  }
}

#gallery {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  display: none;
}

.col-lg-2 {
  padding-bottom: 25px;
}