.opening {
  padding-bottom: 50px;
  padding-top: 50px;
}

.hoved {
  text-align: left;
}

h1, h2 {
  margin: 0.4em 0;
}

h1 { 
  font-size: 35px;
}

h2 {
  color: #888;
  font-size: 20px;
}

.frontPerson {
  padding-bottom: 50px;
}

@media (min-width: 1024px) {
  .frontPerson {
    padding-bottom: 0;
  }
}

.contact {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 50px;
}

.contactPic {
  height: 200px;
  width: auto;
  border-radius: 20em;
}